@page
@model AssignProject.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <h3>Filter</h3>
    <form>
        <p>Search Category: <input type="text" asp-for="Query" /></p>
        <p>Search Pet's Birthday:
            <input asp-for="PetBirthday" />
            <input asp-for="DateSearchEnable" type="checkbox" />
            <select asp-for="BeforePetBirthday">
                <option value="true">Before</option>
                <option value="false">After</option>
            </select>
        </p>

        <input type="submit" value="Search" />
    </form>

</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].SexGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PhotoFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pet)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexGenre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoFileName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PetId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PetId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
